<%- include ../templates/adminlte/header-nav.ejs %>
<%- include ../templates/adminlte/sidebar_admin.ejs %>
<!-- Full Width Column -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Assalamu'alaikum Warahmatullahi Wabarakatuh Admin!
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="/admin"><i class="fa fa-home"></i> Home</a></li>
        </ol>
        <% if(alert.message != '') { %>
        <br>
        <div class="alert alert-<%= alert.status %>" style="text-align: center;">
            <strong><%= alert.message %></strong>
        </div>
        <% } %>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="callout callout-info">
            <strong>
                <p style="font-size: 14px;
                text-align: center;
                color: black;">
                    Pemberitahuan Kepada Peserta Jika Terdapat Pertanyaan atau Ada yang Belum Jelas Bisa di Tanyakan
                    Kepada
                    Pengurus UKMI AR-Rahman
                </p>
            </strong>
        </div>

        <!-- Informasi BBQ -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Informasi BBQ</strong></h3>
            </div>
            <% if(informasiBBQ.length > 0) { %>
            <% for (var i = 0; i < informasiBBQ.length; i++) { %>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title"> <strong><%= i+1 %></strong>. <%= informasiBBQ[i].judul %> </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <%= informasiBBQ[i].deskripsi %>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <div class="callout callout-warning">
                <strong>
                    <p style="font-size: 14px;
                                text-align: center;
                                color: black;">
                        Belum ada Informasi seputar BBQ.
                    </p>
                </strong>
            </div>
            <% } %>
        </div>

        <!-- Informasi Agenda Kegiatan -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><strong>Agenda Kegiatan</strong></h3>
            </div>
            <% if(informasiAgenda.length > 0) { %>
            <% for (var i = 0; i < informasiAgenda.length; i++) { %>
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title"> <strong><%= i+1 %></strong>. <%= informasiAgenda[i].judul %> </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <%= informasiAgenda[i].deskripsi %>
                </div>
            </div>
            <% } %>
            <% } else { %>
            <div class="callout callout-warning">
                <strong>
                    <p style="font-size: 14px;
                                    text-align: center;
                                    color: black;">
                        Belum ada Informasi seputar Agenda Kegiatan.
                    </p>
                </strong>
            </div>
            <% } %>
        </div>

    </section>
</div>

<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>
<script type="text/javascript">
    $(function () {
        $("button").on("click", function () {
            $.ajax({
                type: 'GET',
                url: '/mahasiswa/data',
                dataType: 'json',
                success: function (result) {
                    console.log(result.result)
                    // alert(result.result[0].name)
                    result.result.map((data, index) => {
                        return (
                            // <ul key={index}>
                            //     <li>{data.id}</li>
                            //     <li>{data.name}</li>
                            //     <li>{data.drink}</li>
                            // </ul>
                            $('#champ').html(`${data.id}, ${data.name}, ${data.drink}`)
                        );
                    })
                }
            });
        })
    });
</script>
<!-- /.content-wrapper -->
<%- include ../templates/adminlte/footer.ejs %>