<%- include ../templates/adminlte/header-nav %>
<%- include ../templates/adminlte/sidebar_mahasiswa.ejs %>
<!-- Full Width Column -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Cetak Registrasi Peserta BBQ
        </h1>
        <ol class="breadcrumb">
            <li class="active"><a href="/mahasiswa"><i class="fa fa-home"></i> Home</a></li>
            <li class="active">Cetak Registrasi</li>
        </ol>
    </section>
    <div class="pad margin no-print">
        <% if (mahasiswa.status === "aktif"){ %>
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            Akun BBQ Anda Sudah Aktif, sehingga anda tidak diharuskan lagi untuk mencetak form Registrasi ini. Terima
            Kasih.
        </div>
        <% } else { %>
        <div class="callout callout-warning" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            Akun BBQ Anda Belum Aktif ! Segera Cetak Form Registrasi ini lalu datangi Stand BBQ di Lorong Perpus
            Universitas Teknokrat Indonesia. Terima Kasih.
        </div>
        <% } %>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header" id="border">
                    <div align="center">
                        <table class="table" style="border: 1px solid;">
                            <thead>
                                <tr style="border-bottom: 1px solid" >
                                    <th style="border-bottom: 1px solid" scope="col"><img src="/images/logo-uti.png" width=90 height=95></th>
                                        <td style="border-bottom: 1px solid"></th>
                                    <td align="center"><b>
                                            <span style='font-size:10.0pt;font-family:"Times New Roman","serif"'>
                                                UNIT KEGIATAN MAHASISWA ISLAM (UKMI) AR-RAHMAN
                                                <p>UNIVERSITAS TEKNOKRAT INDONESIA</p>
                                            </span>
                                            <p style='font-size:9.0pt;font-family:"Times New Roman","serif"'>Jalan Zainal Abidin Pagar Alam No. 9-11, Kedaton, Bandar Lampung <br>
                                                Telp.(0721) 702022. HP 0857898367, 085788090489</p>
                                        </b></td>
                                        <td style="border-bottom: 1px solid"></th>
                                    <th style="border-bottom: 1px solid; border-right: 1px solid;" scope="col"><img src="/images/logo-ukmi.png" width=90 height=95 style="margin-left: 40px;"></th>
                                </tr>
                                <td colspan="6" align="center" style="border-top: 1px solid;"><b>Peserta BBQ</b></td>
                            </thead>
                            <tbody style='font-size:12.0pt;font-family:"Times New Roman","serif"'>
                                <style>
                                    #border {
                                        border: 0;
                                    }
                                    #box {
                                        margin-left: 30px;
                                        width: 114px;
                                        height: 152px;
                                        border: 1px solid;
                                    }
                                    #box1 {
                                        width: 155px;
                                        height: 152px;
                                    }
                                </style>
                                <tr>
                                    <td colspan="2" id="border">NPM</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.npm %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Nama</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.nama %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Tgl Lahir</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.tglLahir %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Alamat</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.alamat %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Jurusan</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.Jurusan.namaJurusan %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Membaca Al Qur'an</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.bacaQuran %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Jenis Kelamin</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.jenisKelamin %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">No HP</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.nomorHp %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Email</td>
                                    <td colspan="4" id="border"> : &emsp; <%= mahasiswa.User.email %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Kelas</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.Kela.namaKelas %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Nama Dosen</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.Dosen.nama %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Status</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.status %></td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="border">Jadwal Kosong</td>
                                    <td colspan="4" id="border">: &emsp; <%= mahasiswa.jadwalKosong %></td>
                                </tr>
                                <tr>
                                    <td colspan="3" id="border">
                                        <br><br><br>
                                        <div id="box">
                                            <p align="center">
                                                <img src="/foto-peserta-bbq/<%= mahasiswa.foto %>" alt=""
                                                style="width:112px; height:152px">
                                            </p>
                                        </div>
                                        <br><br>
                                    </td>

                                    <td colspan="3" id="border">
                                        <br><br><br>
                                        <div id="box1" style="text-align: center">
                                            B. Lampung, <script> document.write(new Date().toLocaleDateString()); </script>
                                            <br> <br> <br> <br> <br> <br>
                                         <%= mahasiswa.nama %> 
                                        </div>
                                        <br><br>
                                    </td>                                    
                                </tr>
                            </tbody>
                        </table>
                </h2>
            </div>
        </div>
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <a onclick="window.print()" class="btn btn-default"><i class="fa fa-print"></i>
                    Print
                </a>                
            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous">
</script>
<!-- /.content-wrapper -->
<%- include ../templates/adminlte/footer.ejs %>
